{% load static %}

<footer class="footer py-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About Us</h5>
                <p>We are dedicated to bringing you the best online shopping experience. Discover quality products and unbeatable prices.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Home</a></li>
                    <li><a href="#" class="footer-link">Products</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                    <li><a href="#" class="footer-link">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="footer-link"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="footer-link"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="footer-link"><i class="fab fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; {{ current_year }} Your Store. All Rights Reserved.</p>
        </div>
    </div>
</footer>

